/* CSS declarations go here */

.navbar-default {
    background-color: #e1e5f0;
    border-color: #e1e5f0;
}

.navbar-default .navbar-brand {
    color: #315481;
}

.navbar-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-attachment: fixed;
}

.container {
    max-width: 600px;
    background: transparent;
}

.card {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    margin-bottom: 5px;
}

.card .title {
    font-size: 1.5em;
}
